pre {
    background-color: #142836;
}

table {
  @apply min-w-full text-gray-600 bg-gray-200 rounded p-5 shadow overflow-hidden table-fixed;
}

th {
  @apply font-extrabold px-6 py-3 bg-gray-500 text-left text-xs leading-4 text-gray-100 uppercase tracking-wider;
  background-color: #142836;
}

tbody {
  @apply bg-white bg-gray-200;
}

td {
  @apply px-6 py-4 break-words align-top text-left;
  word-wrap:break-word
}
